4oBe4e.css
/* add your CSS here */
body {
    font-family: "Times New Roman", Times, serif;
}
.board {
    border-style: hidden;
    float: left;
    margin-left: 20px;
    width: 55%;
    }
.players {
    font-weight: bold;
    font-size: xx-large;
    border-style: hidden;
    list-style:none;
    float: right;
    margin-right: 150px;
    margin-top: 40px;
    margin-top: 70px;
  }
label.red {color: red;}
label.green {color: green;}
label.blue {color: blue;}
label.yellow {color: rgb(255, 208, 0);}
label {text-shadow: 1px 0 black;}

.img1 {
    float: right;
    margin-right: 380px;
    margin-top: 100px;
    height: 130px;
}
.rules {
    font-weight: bold;
    font-size: xx-large;
    border-style: hidden;
    float: right;
    margin-top: 200px;
    margin-right: 380px;
    list-style:none;
}