[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "*"
mypy = "*"

[requires]
#python_version = "3"  # Don't pin as currently there is no support for relative values (ref: https://github.com/pypa/pipenv/issues/2694)

[pipenv]
allow_prereleases = true

[packages]
