[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[pipenv]
allow_prereleases = true

[requires]
python_version = "3.8"

[packages]
colorama = "*"
flask = "*"
dataclasses = "*"
importlib_metadata = "*"
requests = "*"
types-requests = "*"
docopt = "*"

[dev-packages]
pytest = "*"
black = "*"
mypy = "*"
pylint = "*"
rope = "*"

[scripts]
client = "src/cli.py"
server = "src/web_server.py"
